<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Halo, apa kabar?</h1>
    <form class="form_status" action="" method="POST">
        {% csrf_token %}
        <label>Isi Status:</label>
        {{form.status}}
        <div class="status_button d-flex">
            <input name="submit_button" type="submit" value="Submit">
        </div>
    </form>

    {% for data in model %}
        {{data.time|date:'d M Y, H:i'}}  {{data.status}}
        <br>
    {% endfor %}
</body>
</html>